body{
  background-color: #404d69;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
  }
  .sidebar .logo-details .logo_name{
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    margin-left: 2.5rem;
    margin-top: 1rem;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
  }
  .sidebar.close .nav-links{
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
    display: none;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover{
    background: #4b4872;
  }
  .sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
    display: block
  }
  .sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
    display: none;
  }
  .sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
  }
  .sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
    padding: 10px 10px 14px 80px;
    margin-top: -10px;
    background: #11101d;
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
    display: block;
  }
  .sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
   .sidebar .nav-links li .sub-menu .link_name{
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 10px 20px 10px 16px;
    opacity: 0;
    pointer-events: none;
  }

.goal{
  height: 60%;
  width: 37%;
  margin: 5% 55%;
  border-radius: 2rem ;
  background-color: #4c4698;
  position: absolute;
}
.goal h1{
  color: #ffffffa8;
  text-align: center;
}
#goal-txt{
    border: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    outline: none;
    color: rgba(247, 232, 232, 0.808);
    background-color: #8783aa6b;
    width: 95%;
    height: 75%;
    overflow: auto;
    max-height: 100%;
    border-radius: 1rem;
    margin-top: 0;
    padding: 12px 15px;

}
.email{
  height: 70px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  width: 25%;
  background-color: white;
  margin-left: 7rem;
  margin-top: 2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-family:  Arial, sans-serif;
  font-weight: 700;
}
.email img{
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: rgb(64, 139, 186);
  margin-left: 42%;
  margin-top: -4rem;
  padding: 10px 30px;
  border: none;
  color: #fff;
  border-radius: 10px;
}
.button:hover{
  background-color: black;
}